:root {
  /* colors */

  --font-color: #333;
  --primary-color: #4f46e5;
  --primary-shade: #d9d7ff;
  --secondary-color: #f3f4f6;
  --danger-color: #c53030;
  --success-color: #2f855a;
  --warning-color: #fea119;
  --danger-light-color: #fef2f2;
  --success-light-color: #ecfdf5;
  --warning-light-color: #fffbeb;
  --info-light-color: #eff6ff;

  --white-color: #ffffff;
  --dark-grey: #626262;
  --hover-grey: #f5f5f5;

  /* spacing */

  --space-xxxs: 0.3rem;
  --space-xxs: 0.5rem;
  --space-xs: 1rem;
  --space-sm: 1.5rem;
  --space-md: 2rem;
  --space-lg: 2.5rem;
  --space-xl: 3rem;
  --space-xxl: 4rem;
  --space-xxxl: 4.5rem;

/* box shadow */
--big-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
