.snackbar {
  padding: 0.5rem;
  background: #333333;
  color: white;
  border-radius: 3px;
  width: 387px;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  visibility: hidden;
  box-shadow: 2px 2px 8px 5px rgba(161, 161, 161, 0.09);
}

.snackbar.baseline :nth-child(2),
.snackbar.leading :nth-child(2),
.snackbar.stacked div :nth-child(1) {
  color: var(--primary-color);
  font-weight: bold;
}

.baseline {
  position: fixed;
  bottom: 19px;
  left: 40%;
}

.leading {
  width: 340px;
  padding: 0 0.8rem;
  position: fixed;
  bottom: 19px;
  left: 3%;
}

.stacked {
  flex-flow: column;
  width: 490px;
  min-width: min-content;
  height: 95px;
  padding: 0 0.5rem;
  position: fixed;
  bottom: 19px;
  left: 33%;
}

.stacked > div {
  justify-self: flex-end;
  align-self: flex-end;
  margin-right: 1.5rem;
}

.stacked > div span {
  margin-right: 1.5rem;
}
