.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: var(--primary-color);
  color: var(--white-color);
  padding: 1rem;
}

.navigation div i {
  font-size: 20px;
}

.navigation div h3 {
  display: inline-block;
  margin-left: 1rem;
}

.navigation li {
  list-style: none;
  display: inline-block;
  font-size: 20px;
  margin-right: 1rem;
}
