.wrapper {
  width: 80%;
  margin: 3rem auto;
}

.btn {
  border: none;
  padding: 0.6rem 1rem;
  color: white;
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: 0.5px;
  background: grey;
  font-family: "roboto";
  font-size: 16px;
  box-shadow: rgb(0 0 0 / 24%) 0px 4px 9px;
  height: 40px;
  transition-duration: 0.1s;

}

/* Contained buttons */
.btn-primary {
  background: var(--primary-color);
}

.btn-error {
  background: var(--danger-color);
}

.btn-success {
  background: var(--success-color);
}

.btn:hover{
  transform: scale(1.05);
}
.btn:active{
  opacity: .85;
}

/* Outlines buttons */

.btn.outline {
  background-color: transparent;
  color: grey;
  border: 2px solid grey;
}

.btn.outline-primary {
  color: var(--primary-color);
  background: transparent;
  border: 2px solid var(--primary-color);
}

.btn.outline-error {
  color: var(--danger-color);
  background: transparent;
  border: 2px solid var(--danger-color);
}

.btn.outline-success {
  color: var(--success-color);
  background: transparent;
  border: 2px solid var(--success-color);
}

.btn.btn-link {
  border-radius: 0;
  background: var(--primary-color);
}

/* pseudo classes */

.btn:hover {
  cursor: pointer;
  
}

.icon-button {
  color: var(--primary-color);
  font-size: 25px;
  background: none;
  box-shadow: none;
}

.floating-button {
  background: var(--primary-color);
  padding: 1rem;
  border-radius: 50%;
  font-size: 15px;
  height: auto;
  box-shadow: 1px 1px 2px 1px rgba(1, 1, 1, 0.2);
}
