body {
  font-family: "roboto", "sans-serif";
}

/* Common Classes */

.horizontal-card h2,
.basic-card h2 {
  font-size: 20px;
}

.horizontal-card h3,
.basic-card h3 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-weight: 600;
  margin-top: 6px;
}

/* lower */

.lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.lower img {
  width: 20px;
  height: 20px;
  margin-right: 1.3rem;
}

.lower div {
  margin-left: 0.5rem;
}

.lower small {
  font-size: 14px;
  color: var(--primary-color);
  /* color: rgb(98, 0, 238); */
  letter-spacing: 1.25px;
  font-family: "roboto";
  font-weight: bold;
}

.lower button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 0.5rem 0.6rem;
}

.lower button:hover {
  cursor: pointer;
  background-color: rgba(98, 0, 238, 0.03);
  border-radius: 5px;
}

.lower img:hover {
  cursor: pointer;
}

/* basic-card */

.basic-card .upperSection:hover {
  background-color: var(--hover-grey);
  cursor: pointer;
}

.basic-card {
  display: flex;
  flex-flow: column nowrap;
  width: 350px;
  box-shadow: 3px 3px 80px 1px rgba(207, 207, 207, 0.5);
  border-radius: 6px;
}

.basic-card .upperSection img {
  width: 350px;
  height: 196.88px;
}

.basic-card .upperContent {
  padding: 1rem;
}

.details p {
  color: rgba(0, 0, 0, 0.54);
  letter-spacing: 0.25px;
  font-size: 14px;
}

.details {
  margin-top: 3px;
  padding: 0 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 6px;
}

/* Horizontal Card */

.horizontal-card {
  background-color: var(--white-color);
  width: 350px;
  height: 162px;
  box-shadow: 3px 4px 6px rgba(207, 207, 207, 0.5);
  border-radius: 5px;
}

.horizontal-card .upperSection {
  display: flex;
}

.horizontal-card .upperContent {
  margin-left: 0.9rem;
}

.horizontal-card .upperSection:hover {
  background-color: var(--hover-grey);
  cursor: pointer;
}

.horizontal-card .upperSection img {
  width: 110px;
  height: 110px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.horizontal-card .upperContent {
  padding-top: 1rem;
}

.horizontal-card .lower {
  margin-top: 0.7rem;
}

/* text-overlay */

.text-overlay .upperSection {
  position: relative;
  /* border: red solid; */
}

.text-overlay .upperContent {
  position: absolute;
  left: 0;
  color: var(--white-color);
  bottom: 4.5rem;
}
.text-overlay .upperContent h3 {
  color: var(--white-color);
}

/* Dismmisable card */

.dismiss-card {
  position: relative;
}

.dismiss-card i {
  position: absolute;
  top: 0.2rem;
  right: 0.1rem;
  padding: 0.1rem 0.25rem;
  background: var(--white-color);
  border-radius: 50%;
}

/* card with badge */

.badge-card {
  position: relative;
}

/* The badge component will be used here will import it in dev branch and color varibles for color*/

.badge-card .badge {
  display: flex;
  justify-content: center;
  align-items: center;
  top: -4px;
  right: -9px;
  position: absolute;
  font-size: 0.5rem;
  color: var(--white-color);
  font-weight: 900;
  height: 35px;
  width: 35px;
  border: none;
  background-color: var(--danger-color);
  border-radius: 50%;
}

/* ecomm cards */

/* basic ecomm card */
.card {
  background: var(--white-color);
  box-shadow: var(--big-box-shadow);
  height: 18rem;
  width: 15rem;
  border-radius: 20px;
  display: flex;
  padding: 1rem;
  align-items: center;
  flex-flow: column;
}

.product-card {
  position: relative;
  width: 12rem;
  height: 12rem;
  border-radius: 20px;
  display: flex;
}

.card-image {
  width: 11rem;
  transform: rotate(-20deg);
  margin-right: 1rem;
}

.card-details {
  align-self: flex-start;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

.card-details h4 {
  display: inline-block;
}

.card-details h4:nth-child(2) {
  margin-left: 2rem;
}

/* horizontal ecomm cards */

.horizontal-ecomm-card {
  background: var(--white-color);
  box-shadow: var(--big-box-shadow);
  height: 12rem;
  width: 25rem;
  border-radius: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 3rem;
  padding: 0 1rem;
}

.horizontal-card-image-bg {
  width: 10rem;
  height: 10rem;
  border-radius: 20px;
  display: flex;
}

.horizontal-card-details {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  margin-left: 1rem;
  height: 10rem;
}

.horizontal-card-details button {
  font-size: 14px;
}
