@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url(./Avatar/avatar.css);
@import url(./Badge/badge.css);
@import url(./Alert/alert.css);
@import url(./button/button.css);
@import url(./Card/card.css);
@import url(../variables.css);
@import url(./Input/input.css);
@import url(./Image-component/image-component.css);
@import url(./Navigation/navigation.css);
@import url(./Snackbar/snackbar.css);
@import url(./Drawer/drawer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto";
  background: var(--white-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--primary-color);
  /* color: rgb(94, 94, 218); */
}

.flex-column {
  flex-flow: column;
}

/* navigation bar */

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 2px 1px rgb(211, 211, 211);
  padding: 1.5rem 2rem;
  font-weight: bold;
}

.logo {
  margin-left: 5rem;
}

.navbar > ul {
  display: flex;
  /* justify-content: space-around; */
  gap: 1rem;
  margin-right: 3rem;
}

.navbar li {
  list-style: none;
}

/* Landing Page */

.hero-wrapper {
  display: flex;
  height: 80vh;
}

.hero {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 0 auto;
  gap: 1.5rem;
}

.hero p {
  line-height: 1.5rem;
}

.hero h1 {
  font-size: 45px;
}

.hero .btn {
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

/* documentation */

.documentation {
  display: flex;
  /* outline: red solid 1px; */
  margin: 3rem 5rem;
  color: var(--font-color);
}

/* Sidebar */

.sidebar {
  /* outline: green solid; */
  padding-top: 1rem;
  padding-left: 2rem;
  justify-self: center;
  /* align-self: center; */
  width: 15%;
}

.sidebar .list-topic {
  margin-bottom: 0.8rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(148, 148, 148);
}

.sidebar li {
  list-style: none;
  margin-bottom: 1rem;
}

/* Main content */

.main-content {
  padding: 1rem;
  padding-left: 2rem;
  margin-left: 1rem;
  width: 70%;
}

.main-content p {
  line-height: 1.7rem;
}

/* Content */

.content-head {
  margin-bottom: 1rem;
}

.divider {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(148, 148, 148);
}

.example {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 2rem;
  background: #f5f7f9;
  border-radius: 8px;
  box-shadow: 1px 3px 3px 15px rgb(219, 219, 219, 0.06);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid rgb(226, 226, 226);
}

.code-example {
  margin-top: 1rem;
}
/* Colors */

.color-pallete {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.color-pallete div {
  padding: 2rem 1rem;
  color: rgb(231, 231, 231);
  border-radius: 5px;
}

.color-pallete :nth-child(1) {
  background: var(--primary-color);
}

.color-pallete :nth-child(2) {
  background: var(--warning-color);
}

.color-pallete :nth-child(3) {
  background: var(--danger-color);
}

.color-pallete :nth-child(4) {
  background: var(--success-color);
}

.footer {
  display: flex;
  justify-content: center;
  border: red solid;
}

.footer i {
  font-size: 30px;
  margin-right: 1rem;
}

@media screen and (max-width: 1050px) {
  .sidebar {
    display: none;
  }
}
