/* square images */
.sq-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* Round Images */
.round-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

/* responsive image */
.rsp-img {
  width: 100%;
  object-fit: cover;
}
/* Not component library */
.img-container {
  width: 70%;
}
